* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Inter, arial, san-serif;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #002f8775;
}

#weather {
  max-width: 70rem;
  min-width: 650px;
  width: clamp(40rem, 90vw, 70rem);
  min-height: 41rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 40, 50, 255);
  border-radius: 2rem;
}

.right {
  color: #fff;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: clamp(25rem, 60vw, 42rem);
  height: 40rem;
}

.left {
  width: clamp(20.5rem, 40vw, 28rem);
  height: 40rem;
  padding: 3rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
  border: 1px rgba(37, 47, 83, 0.842) solid;
  border-radius: 1.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(33, 40, 50, 0.6);
  background-blend-mode: darken;
  /* background-attachment: fixed; */
  box-shadow: 25px 5px 20px -10px #171a20;
  transition: transform 0.2s;
}

.right-top > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.value {
  font-weight: normal;
}
.other-days {
  display: flex;
  filter: drop-shadow(19px 19px 38px #171a20);
  border-radius: 1.5rem;
}
.right-bottom {
  background-color: transparent;
}
.choose {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-content: flex-end;
  height: 15rem;
  width: 100%;
  font-size: 1.5rem;
  background-color: #252933;
  position: relative;
  margin: 0.1rem;
  border: 1px rgba(24, 31, 53, 0.527) solid;
}

.choosen {
  background-color: #fff;
  color: black;
  border: none;
}

.choose:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  z-index: 2;
  transform: scale(1.04);
}
.right-icon {
  position: absolute;
  top: 2rem;
  height: 5rem;
  width: 5rem;
}

.temp {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#city {
  position: absolute;
  width: 100%;
  padding: 0.6rem;
  padding-left: 1rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  z-index: 0;
  box-shadow: 19px 19px 38px #171a20;
  border: 1px solid transparent;
}

#city:focus {
  /* outline: 1.2px solid #ebb462; */
  outline: 1.5px solid #ebb462;
}

.right-btn {
  color: #fff;
  width: 3rem;
  font-size: 1rem;
  background-image: linear-gradient(
    90deg,
    #f0d471 0%,
    #ebb462 35%,
    #e79f57 100%
  );
  position: absolute;
  border: none;
  height: 2.5rem;
  border-radius: 30%;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.right-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* .right-btn-after-click {
  width: 5rem;
  transition: all 0.3s ease-in-out;
} */

.search-icon {
  visibility: hidden;
}

.dayDate,
.left-temp,
.condition,
.humidity,
.wind,
.feelslike {
  background-image: linear-gradient(
    45deg,
    #f0d471 0%,
    #ebb462 35%,
    #e79f57 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.dayDate {
  margin-bottom: 1rem;
}
.day {
  font-size: 2rem;
  font-weight: bold;
}
.left-temp {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.condition {
  font-size: 2rem;
  font-weight: bold;
}
.left-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.location {
  margin-top: 1rem;
}
.icon {
  width: 110px;
  height: 110px;
  background-color: rgba(33, 40, 50, 255);
  border-radius: 1rem;
}
.loading {
  display: none;
  color: white;
  width: 100vw;
  height: 100vh;
  background-color: rgba(33, 40, 50, 255);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.spinner {
  --red: #d62d20;
  --blue: #0057e7;
  --green: #008744;
  --yellow: #ffa700;
  position: relative;
  width: 110px;
  margin: auto auto;
  height: 100%;
}

.spinner:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate73451 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash0175 1.5s ease-in-out infinite,
    color7123 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate73451 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash0175 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color7123 {
  100%,
  0% {
    stroke: var(--red);
  }

  40% {
    stroke: var(--blue);
  }

  66% {
    stroke: var(--green);
  }

  80%,
  90% {
    stroke: var(--yellow);
  }
}
